<div class="about">
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Isla de Margarita
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>La isla de Margarita, también llamada popularmente la «Perla del Caribe»,1 se encuentra al sureste del mar Caribe, en el noreste venezolano y al norte de la península de Araya del estado Sucre. Junto con las islas de Coche y Cubagua, constituye el único estado insular de Venezuela denominado Nueva Esparta. La isla jugó un papel importante durante la independencia de Venezuela.2
      </div>
      <img src="./img/botes.jpg">
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Parque nacional Morrocoy
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>El Parque nacional Morrocoy es un parque nacional ubicado en el litoral más oriental del estado Falcón y en el noroeste del Golfo Triste; en la costa centro occidental venezolana, cerca de las poblaciones de Boca de Aroa, Tucacas, Sanare, Chichiriviche, Flamenco y Tocuyo de la Costa. Fue declarado parque nacional el 26 de mayo de 1974 y consta de 32.090 ha.
      </div>
       <img src="./img/tortuga.jpg">
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Isla La Tortuga
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>La Tortuga es una isla en el Mar Caribe perteneciente a Venezuela, incluida geográficamente en las Antillas Menores y administrativamente hace parte de las Dependencias Federales Venezolanas. Está conformada por una isla mayor y varios islotes y cayos más pequeños.
      </div>
      <img src="./img/isla-la-tortuga-7711162.webp">
    </div>
  </div>
</div>
</div>












